{namespace lesir.components.list}

/**
 * A single roadmap item in the ListApp
 *
 * @param title
 */
{template .roadmapList}
	<h2 class="row roadmap__title">{$title}</h2>
	<ul class="roadmap__projectlist"></ul>
{/template}
