{namespace lesir.components.list}

/**
 * A single roadmap item in the ListApp
 */
{template .roadmapList}
	<h2 class="row roadmap__title">Reading Roadmap</h2>
	<ul class="roadmap__list"></ul>
{/template}
