{namespace lesir.components.gantt}

/**
 * The GanttApp's main layout
 */
{template .app}
	<div class="row">
		<div class="large-3 columns">
			<div class="content-region"></div>
		</div>

		<div class="large-9 columns">
			<div class="graph-region"></div>
		</div>
	</div>
{/template}
