{namespace lesir.components.yearbook}

/**
 * @param id
 * @param title
 * @param currentTask
 * @param? priority
 */
{template .project}
	<li class="project {$currentTask}">
		<a href="/#/project/{$id}">
			{if $priority and $priority > 33}
				{let $priorityClass: $priority > 66 ? 'high' : 'medium' /}
				<div class="project__marker {$priorityClass}"></div>
			{/if}
			<p class="project__title delta ellipsis">{$title}</p>
		</a>
	</li>
{/template}
