{namespace lesir.components.project}

/**
 * The ProjectApp's main layout
 */
{template .app}
	<section class="content-region small-12 column">
		<div class="timeline-region"></div>
	</section>

	<section class="content-region small-12 column">
		<div class="documentation-region"></div>
	</section>

	<section class="content-region small-12 column">
		<div class="row">
			<h2 class="small-12 columns alpha">History</h2>
		</div>

		<div class="history-region"></div>
	</div>
{/template}
