{namespace lesir.components.project}

/**
 * The ProjectApp's main layout
 */
{template .app}
	<div class="timeline-region content-region"></div>
	<div class="documentation-region content-region"></div>
	<div class="history-region content-region"></div>
{/template}
