{namespace lesir.components.project}

/**
 */
{template .documentation}
	<div class="small-12 medium-6 columns">
		<button>POOPING POOPING</button>
	</div>

	<div class="small-12 medium-6 columns">
		<button>POOPING POOPING</button>
	</div>
{/template}
