{namespace lesir.components.project}

/**
 */
{template .history}
	<div class="row large-collapse">
		<h2 class="columns small-12 alpha">History</h2>
	</div>

	<div class="row large-collapse">
		<ol class="js_historylist columns small-12"></ol>
	</div>
{/template}
