{namespace lesir.components.project}

/**
 * @param action
 * @param date
 * @param user
 */
{template .updateListItem}
	<span class="delta">{$date}</span>
	<span class="beta">{$action}</span>
	<span class="epsilon">by</span>
	<span class="gamma">{$user}</span>
{/template}
